@import '../../styles/global.scss';

.popular-options span {
    font-size: 16px;
    line-height: 22px;
}

.filter-options {
    margin-top: 20px;
    padding: 20px;
    min-width: 255px;

}

.mgpd0 {
    margin-left: 40px;
}

.store {
    align-items: center;
    margin: 20px;
}